.todo-card {
  flex-basis: 42%;
  background-color: $color-bg;
  // padding: 0rem 2rem 0 2rem;
  border: $border-primary;
  box-shadow: $shadow-primary;

  display: flex;
  flex-direction: column;
  margin: 2.5rem 0;
  overflow: hidden;
  transition: height ease-in 0.2s;
  height: 34.7rem;
  // justify-content: flex-start;
  // flex-grow: 0;

  * {
    align-self: center;
    margin-bottom: 2rem;
    width: max-content;
    flex-shrink: 0;

    // border: $border-double;
  }

  &__heading {
    border: $border-double;
    padding: 0.5rem;
    order: 1;
    // margin-top: 2rem;
  }

  &__description {
    border: $border-double;
    padding: 0.5rem;
    width: 95%;
    order: 2;
  }

  &__due-date {
    align-self: center;
    font-size: 3rem;
    border: $border-double;
    padding: 0.5rem;
    order: 3;
  }

  &__notes,
  &__checklist {
    overflow: hidden;
    transition: ease-in 0.2s;
    display: none;
  }

  &__notes {
    // align-self: flex-start;
    margin-top: 1rem;
    // margin-left: 2rem;
    width: 90%;
    border: $border-double;
    padding: 0.5rem;
    background-color: $color-primary;
    color: $color-bg;
    height: 6rem;
    overflow-y: scroll;
    order: 5;
  }

  &__checklist {
    // list-style: disc;
    // align-self: flex-start;
    // margin-left: 2rem;
    padding: 0.5rem;
    width: 90%;
    border: $border-double;
    background-color: $color-primary;
    color: $color-bg;
    height: 21rem;
    overflow-y: scroll;
    order: 6;

    &--item {
      margin-left: 2rem;
    }
  }
}

.overdue,
.complete {
  justify-self: flex-start;
  background-color: orangered;
  width: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
}
