// COLORS
$color-primary: #b5c7fa;
$color-primary-light: #72bfa1;
$color-primary-vlight: #7a45f0;
$color-primary-dark: #8c9999;

$color-text: #252739;

// $color-bg: #a699c4;
$color-bg: #babbb4;

$color-bg-dark: #282927;

// FONT
$default-font-size: 1.6rem;

$heading-font: "Big Shoulders Stencil Text", cursive;

//BORDER
$border-double: 5px double $color-primary-dark;
$border-double-light: 5px double $color-primary;

$border-primary: 2px solid $color-primary-dark;

$border-double-focus: 5px double $color-primary;

// SHADOW

$shadow-primary: 2px 2px 4px $color-primary-dark;

// MIXIN

@mixin forminput {
  width: 100%;
  height: 5rem;
  background-color: $color-bg;
}
