// COLORS
$color-primary: #28096e;
$color-primary-light: #471ca9;
$color-primary-vlight: #7a45f0;
$color-primary-dark: #160934;

// $color-bg: #a699c4;
$color-bg: #8752ff;

$color-bg-dark: #8165c1;

// FONT
$default-font-size: 1.6rem;

$heading-font: "Big Shoulders Stencil Text", cursive;

//BORDER
$border-double: 5px double $color-primary-dark;
$border-primary: 3px solid $color-primary-dark;

// SHADOW

$shadow-primary: 5px 5px 10px $color-primary-dark;
