/* CSS RESET */
/* https://alligator.io/css/minimal-css-reset/ */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: $color-bg;
}

@media screen and (min-width: $maxWidth) {
  body {
    width: 1920px;
    margin: 0 auto;
  }
  html {
    background-color: black;
  }
}

@media screen and (max-width: $fontSize-55) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: $ipadProVertical) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: $fontSize-45) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: $fontSize-40) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: $fontSize-35) {
  html {
    font-size: 35%;
  }
}
