.footer {
  grid-area: footer;
  background-color: $color-bg-dark;
  border-top: $border-primary;
  position: relative;
}

.heading-footer {
  color: $color-primary;
  text-align: center;
  text-decoration: underline;

  &:hover {
    color: $color-text;
  }
}

.project-container {
  display: flex;
  justify-content: space-evenly;

  &__card {
    margin-top: 0.5rem;
    height: 4.5rem;
    width: 15rem;
    background-color: $color-text;
    border: $border-double;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color-primary;
      color: $color-text;
      border: 5px double $color-text;
      transform: scale(1.05);
    }

    &:hover h5 {
      color: $color-text;
    }

    &:active {
      transform: translateY(2px);
    }

    &--heading {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.footer-icon {
  &__icon {
    position: absolute;
    top: 2.7rem;
    width: 5rem;
    height: 5rem;
    padding: 0.2rem;
    background-color: $color-text;
    border: $border-double;

    &:hover {
      background-color: $color-primary;
    }
  }
}

#icon-advance {
  right: 8rem;
  visibility: hidden;
}

#icon-return {
  left: 8rem;
}

@media screen and (max-width: $ipadVertical) {
  .footer-icon {
    &__icon {
      top: 21%;
    }
  }
  #icon-advance {
    right: 2%;
  }

  #icon-return {
    left: 2%;
  }

  .heading-footer {
    margin-bottom: 1rem;
  }

  .project-container {
    justify-content: center;

    &__card {
      margin: 0 1%;
      width: 18%;
    }
  }
}

@media screen and (max-width: $fontSize-45) {
  .footer-icon {
    &__icon {
      top: 18%;
    }
  }
  #icon-advance {
    right: 2%;
  }

  #icon-return {
    left: 2%;
  }
}

@media screen and (max-width: $fontSize-40) {
  .project-container {
    &__card {
      padding: 2rem;
    }
  }

  .footer-icon {
    &__icon {
      width: 7rem;
      height: 7rem;
      padding: 1rem;
      top: 16%;
    }
  }
}

@media screen and (max-width: $iphonePlus) {
  .heading-footer {
    margin: 2rem 0;
    font-size: 3rem;
  }

  .project-container {
    flex-wrap: wrap;
    &__card {
      flex-shrink: 0;
      width: 40%;
      margin: 2rem;
    }
  }

  .footer-icon {
    &__icon {
      top: 5%;
    }
  }
  #icon-advance {
    right: 2rem;
  }

  #icon-return {
    left: 2rem;
  }
}
