.main__grid {
  display: grid;
  grid-template-rows:
    minmax(min-content, 15vh)
    minmax(min-content, 78vh)
    minmax(min-content, 7vh);
  grid-template-columns: 85% 15%;
  grid-template-areas:
    "header sidebar"
    "main sidebar"
    "footer sidebar";
}
