.main__grid {
  display: grid;
  grid-template-rows:
    minmax(max-content, 12vh)
    78vh
    minmax(max-content, 10vh);
  grid-template-columns: 85% 15%;
  grid-template-areas:
    'header sidebar'
    'main sidebar'
    'footer sidebar';
}

@media screen and (max-width: $ipadProVertical) {
  .main__grid {
    grid-template-rows:
      minmax(max-content, 12vh)
      minmax(max-content, 12vh)
      minmax(max-content, 12vh)
      max-content;
    grid-template-columns: 100%;
    grid-template-areas:
      'header'
      'sidebar'
      'footer'
      'main';
  }
}
