.header {
  grid-area: header;
  background-color: $color-bg-dark;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: $border-primary;
  padding: 0.5rem;
  min-height: max-content;

  &__dash {
    background-color: $color-primary-dark;
    padding: 0.5rem 5rem;
    position: relative;
  }

  &__dash:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: $border-double;
  }
}

.main-heading {
  display: inline-block;
  border: $border-double;
  padding: 1rem;
}

.header-icon {
  display: flex;
  width: 20rem;
  justify-content: center;
  border: $border-double;
  &__icon {
    width: 5rem;
    height: 5rem;
    // filter: invert(12%) sepia(55%) saturate(5217%) hue-rotate(256deg)
    //   brightness(72%) contrast(112%);
  }
}

@media screen and (max-width: $fontSize-55) {
  .header {
    &__dash {
      padding: 0.5rem 4rem;
    }
  }
}

@media screen and (max-width: $ipadProVertical) {
  .main-heading {
    padding: 0.5rem;
  }

  .header {
    &__dash {
      padding: 0.5rem 2.5rem;
    }
  }

  .header-icon {
    width: max-content;
    padding: 0.5rem;

    &__icon {
      width: 3rem;
      height: 3rem;
    }
  }
}

@media screen and (max-width: $fontSize-45) {
  .header {
    &__dash {
      padding: 0.5rem 2rem;
    }

    &__dash:after {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      border: $border-double;
    }
  }

  .header-icon {
    padding: 0.5rem;

    &__icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
